.facility{
    margin: 0;
    padding: 0;
    font-family: "Californian FB";
}
img{
    height: 640px;
}


.content{
    display: flex;
}

.card{
    width:400px;
    height: 300px;
    margin: 50px 15px;
    transition: 0.9s;
    box-shadow: 2px 2px 4px gainsboro;
}

.card:hover{
    transform: scale(1.1);
    transition: 0.9s;
    cursor: pointer;
}

.card img{
    height: 60%;
}
